.quad {
  display: grid;
  grid-template-rows: auto; /* Two columns per row */
  grid-template-columns:  14% 14% 14% 14% 14% 14% 14%; /* Two columns per row */
  font-size: 1.5vh;
  background-color: white;
  justify-items: left; 
  align-items: left; 
  gap: 1vw; /* No space between cells */
}

.double {
  display: grid;
  grid-template-rows: auto; /* Two columns per row */
  grid-template-columns:  45% 55%; /* Two columns per row */
  font-size: 2.5vh;
  background-color: white;
  justify-items: left; 
  align-items: left; 
  gap: 0vw; /* No space between cells */
}


.iconstyle {
  margin:1vh;
  float:left;
  width:13vh;
  max-height: 17vh;
}

/* Style for the cells */
.grid-item {
  /*margin:5px;*/
  padding: 2px;
  text-align:center;
  color:black;
  background-color:white;

}

/* Style for the left-justified cell */
.left-justified {
  justify-self: left; /* Left-justify */
}

/* Style for the centered cell */
.centered {
  justify-items: center; 
  align-items: center; 
}

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*___________________________________________*/

.edittext{
  overflow: hidden;
  overflow-wrap: break-word;
  border:none;
  outline:none;
  resize:none;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 25px;
  background:rgba(0,0,0,0);
  height:35px;
}


.gallery{
  overflow-y:scroll;
  width:100%;
  height:400px;
  
}

/*___________________________________________*/
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.highlighted {
  outline: 2px solid red; /* Style for outlining */
}


/*___________________________________________*/

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  border: none;
  /*text-align: left;*/
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  width:100%;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 3px;
  display: none;
  background-color: white;
  overflow: hidden;
}
/*------------------------------------*/
.propbox{
  max-height:350px;
  height:400px;
  padding:0;
  display:none;
  position:absolute;
  left:10px;
  top:50px;
  width:300px;
  z-index:2000;

}

/*---------------------------*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*---------shader graph------------------*/
.x {
	position: relative;
  float: right;
	width: 23px;
	height: 23px;
	border: 1px solid #eef5df;
	background-color: #ff5248;
	border-radius: 50%;
	}
.x::before, .x::after {
	position: absolute;
	top: 10px;
	left: 5px;
	width: 13px;
	height: 3px;
	content: "";
	background-color: #eef5df;
	display: none;
	}
.x::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}
.x::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}
.x:hover { cursor: pointer; }
.x:hover::before, .x:hover::after { display: block; }



